<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${siteName}"></title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicon/apple-icon-57x57.png}" href="">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicon/apple-icon-60x60.png}" href="">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicon/apple-icon-72x72.png}" href="">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/favicon/apple-icon-76x76.png}" href="">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon/apple-icon-114x114.png}" href="">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicon/apple-icon-120x120.png}" href="">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicon/apple-icon-144x144.png}" href="">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicon/apple-icon-152x152.png}" href="">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-icon-180x180.png}" href="">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/favicon/android-icon-192x192.png}" href="">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}" href="">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon/favicon-96x96.png}" href="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}" href="">
    <link rel="manifest" th:href="@{/img/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ff1744">
    <meta name="msapplication-TileImage" th:content="@{/img/favicon/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ff1744">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/helpers.css}">
    
    <script type="text/javascript">
		const gastronomo = {
			socketUrl: '[[${session.ws}?:false]]',
			csrf: {
				name: "[[${_csrf.parameterName}]]",
				value: "[[${_csrf.token}]]"
			},
			admin: [[${session.user != null && session.user.hasRole('admin')}?'true':'false']],
			userId: [[${session.user != null}?${session.user.id}:-1]]
		};
	</script>
	
	<script th:src="@{/js/gastroclient.js}"></script>
</head>

<body>

</body>

</html>