<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Nav fragment - rest intentionally left empty</title>
</head>
<body>
	<nav th:fragment="nav">
		<div class="nav-wrapper container">
			<a th:href="@{/}" class="brand-logo logo">Gastrónomo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#"><i class="material-icons">notifications</i></a></li>
				<li><a class="waves-effect waves-light modal-trigger"
					th:href="@{/login}"><i class="material-icons right">person</i><span th:text="${session.user != null} ? ${session.user.login} : 'Loggin'"></span> </a></li>
			</ul>
		</div>
	</nav>




</body>
</html>
