<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Receta</title>
</head>
<body>



	<div th:fragment="receta-card" class="card">
		<div class="card-image">
			<a th:href="@{/receta/} + ${receta.id}"> <img
				class="img-recortada"
				th:src="@{/receta/{id}/photo(id=${receta.id})}">
			</a> <span class="card-title"> <a
				th:href="@{/receta/} + ${receta.id}" th:text="${receta.name}">Receta
					6</a>
			</span>
			<button th:id="recipeButton + |${receta.id}|"
				class="btn-floating halfway-fab waves-effect waves-light red"
				th:onclick=" 'addRecipeToFavourite(' + |${receta.id}| + ')'"
				th:disabled="${session.user == null or #lists.contains(favRecipes,receta.id)}">
				<i class="material-icons">favorite</i>
			</button>
		</div>
		<div class="card-content">

			<strong>Información</strong>
			<ul class="collection">
				<li class="collection-item"><div>
						<strong>Categoría: </strong><span th:text="${receta.cuisine}"></span>
						<i class="secondary-content material-icons">restaurant</i>
					</div></li>
				<li class="collection-item"><div>
						<strong>Dificultad: </strong><span th:text="${receta.difficulty}"></span>
						<i class="secondary-content material-icons">thumb_up</i>
					</div></li>
				<li class="collection-item"><div>
						<strong>Duración: </strong><span th:text="${receta.duration}"></span>
						<i class="secondary-content material-icons">timer</i>
					</div></li>
				<li class="collection-item"><div>
						<strong>Raciones: </strong><span th:text="${receta.rations}"></span>
						<i class="secondary-content material-icons">people</i>
					</div></li>

				<li class="collection-item"><div>
						<strong>Calorías: </strong><span
							th:text="|${receta.calories} kcal|"></span> <i
							class="secondary-content material-icons">fastfood</i>
					</div></li>

				<li class="collection-item tag-list"><div>
						<strong>Tags: </strong><span th:each="tag, i: ${receta.tags}"
							th:text="${tag.tag} + (${i.index} eq ${i.size} - 1 ? '' : ', ')"></span>
						<i class="secondary-content material-icons">label</i>
					</div></li>

				<li class="hidden comments">
					[[${#lists.size(receta.comments)}]]</li>


			</ul>

		</div>
	</div>

</body>
</html>
