<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav"></nav>

	<div class="pr50 pl50 mt30 mb30">

		<div class="row section-search">

			<form th:action="@{/buscar}" method="POST">
						<div class="chips">
							<div class="search">
								<input class="white grey-text" name="ingredientes" placeholder="  +Ingrediente"
									type="text">
								<button
									class="btn-floating btn-large waves-effect waves-light red enviar"
									type="submit" name="action">
									<i class="material-icons">search</i><i
										class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</form>
			</button>


		</div>

		<div class="row">
			<div class="col l10">
				6 resultados que <strong>incluyen "XXX"</strong> <a
					class="waves-effect waves-light btn-small red ml10">Editar</a>
			</div>

			<div class="input-field col l2">
				<select>
					<option value="1">Más relevantes</option>
					<option value="2">Nuevos</option>
					<option value="3">Populares</option>
				</select> <label>Ordenar por</label>
			</div>

		</div>


		<div class="row">

			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Filtrar resultados</span>

						<form th:action="@{/buscar_avanzado}" method="POST">

						<div class="mb10">
							<strong>Tiempo</strong>
							<p>Máximo de tiempo que quieres dedicar</p>							
								<p class="range-field">
									<input type="range" name="tiempo" id="test5" min="0" max="100" />
								</p>							
						</div>

						<div class="mb10">
							<strong>Dificultad</strong>							
								<p>
									<label> <input type="checkbox" name="difficulty" value="Fácil"/> <span>Fácil</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="difficulty" value="Medio"/> <span>Medio</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="difficulty" value="Difícil"/> <span>Difícil</span>
									</label>
								</p>							
						</div>

						<div class="mb10">
							<strong>Tipo de cocina</strong>							
								<p>
									<label> <input type="checkbox" name="cuissine" value="Española"/> <span>Española</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="cuissine" value="Italiana"/> <span>Italiana</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="cuissine" value="Griega"/> <span>Griega</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="cuissine" value="Mejicana"/> <span>Mejicana</span>
									</label>
								</p>							
						</div>

						<div class="mb10">
							<strong>Dieta</strong>							
								<p>
									<label> <input type="checkbox" name="tag" value="Bajo en carbohidratos"/> <span>Bajo en
											carbohidratos</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Bajo en sodio"/> <span>Bajo en
											sodio</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Mucha fibra"/> <span>Mucha
											fibra</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Alto valor protéico"/> <span>Alto
											valor protéico</span>
									</label>
								</p>

								<p>
									<label> <input type="checkbox" name="tag" value="Poca grasa"/> <span>Poca
											grasa</span>
									</label>
								</p>
							
						</div>

						<div class="mb10">
							<strong>Alérgenos</strong>							
								<p>
									<label> <input type="checkbox" name="tag" value="Sin glutén"/> <span>Sin
											gluten</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Sin huevo"/> <span>Sin
											huevo</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Sin azucar"/> <span>Sin
											azúcar</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="tag" value="Sin cachuetes"/> <span>Sin
											cacahuetes</span>
									</label>
								</p>
							

							<button class="mt20 waves-effect waves-light red btn" type="submit"><i
								class="material-icons left">search</i>Filtrar</button>
						</div>
					</form>

					</div>
				</div>

			</div>

			<div class="col s12 m8 l9">
				<div class="row">
					<div th:each="receta: ${recipes}" class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<a th:href="@{/receta/} + ${receta.id}"> <img class="img-recortada"
									th:src="@{/img/recetas/} + ${receta.id} + .jpg">
								</a> <span class="card-title"> <a th:href="@{/receta/} + ${receta.id}"
									th:text="${receta.name}">Receta 6</a>
								</span> <a class="btn-floating halfway-fab waves-effect waves-light red"><i
									class="material-icons">favorite</i></a>
							</div>
							<div class="card-content">

								<strong>Información</strong>
								<ul class="collection">
									<li class="collection-item"><div>
											<strong>Categoría: </strong><span th:text="${receta.cuisine}"></span>
											<i class="secondary-content material-icons">restaurant</i>
										</div></li>
									<li class="collection-item"><div>
											<strong>Dificultad: </strong><span
												th:text="${receta.difficulty}"></span> <i
												class="secondary-content material-icons">thumb_up</i>
										</div></li>
									<li class="collection-item"><div>
											<strong>Duración: </strong><span th:text="${receta.duration}"></span>
											<i class="secondary-content material-icons">timer</i>
										</div></li>
									<li class="collection-item"><div>
											<strong>Raciones: </strong><span th:text="${receta.rations}"></span>
											<i class="secondary-content material-icons">people</i>
										</div></li>

									<li class="collection-item"><div>
											<strong>Calorías: </strong><span
												th:text="|${receta.calories} kcal|"></span> <i
												class="secondary-content material-icons">fastfood</i>
										</div></li>

									<li class="collection-item"><div>
											<strong>Tags: </strong><span th:each="tag, i: ${receta.tags}"
												th:text="${tag.tag} + (${i.index} eq ${i.size} - 1 ? '' : ', ')"></span>
											<i class="secondary-content material-icons">label</i>
										</div></li>

								</ul>

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>


	</div>

	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>