<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
</head>
<body onload="loadIngredients()">
	<nav th:replace="fragments/nav.html :: nav"></nav>

	<div class="pr50 pl50 mt30 mb30">

		<div class="row section-search">

			<form th:action="@{/buscar}" onsubmit="searchIngredients()"
				name="buscador" method="POST">
				<div class="chips">
					<div class="search">
						<input id="buscador" class="white grey-text" name="ingredientes"
							placeholder="+Ingrediente" type="text">
						<button
							class="btn-floating btn-large waves-effect waves-light red enviar"
							type="submit" name="action">
							<i class="material-icons">search</i><i
								class="material-icons right">send</i>
						</button>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col l10">
				<th:block th:if="${ingredients != null && found}">
				[[${#lists.size(recipes)}]] resultados que incluyen <strong
						class="ingredientes" th:each="ing: ${ingredients}">[[${ing}]]
					</strong>
					<a onclick="loadIngredients()"
						class="waves-effect waves-light btn-small red ml10">Editar</a>
				</th:block>
				<th:block th:if="${ingredients == null && found}">
				[[${#lists.size(recipes)}]] resultados <strong>encontrados</strong>
					<a class="waves-effect waves-light btn-small red ml10">Editar</a>
				</th:block>
				<th:block th:if="${!found}">
					<strong>No se ha encontrado</strong> ninguna receta con esas características
				<a class="waves-effect waves-light btn-small red ml10">Editar</a>
				</th:block>
			</div>

			<div class="input-field col l2">
				<select>
					<option value="1">Más relevantes</option>
					<option value="2">Nuevos</option>
					<option value="3">Populares</option>
				</select> <label>Ordenar por</label>
			</div>

		</div>


		<div class="row">

			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Filtrar resultados</span>


						<div class="mb10">
							<strong>Tiempo</strong>
							<p>Máximo de tiempo que quieres dedicar</p>
							<p class="range-field">
								<input type="range" name="tiempo" id="test5" min="0" max="100" />
							</p>
						</div>

						<div class="mb10">
							<strong>Dificultad </strong>
							<p>
								<label> <input type="checkbox" name="difficulty"
									value="Fácil"
									th:checked="${difficulty} ? ${#arrays.contains(difficulty, 'Fácil')} : 'false'" />
									<span>Fácil</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="difficulty"
									value="Medio"
									th:checked="${difficulty} ? ${#arrays.contains(difficulty, 'Medio')} : 'false'" />
									<span>Medio</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="difficulty"
									value="Difícil"
									th:checked="${difficulty} ? ${#arrays.contains(difficulty, 'Difícil')} : 'false'" />
									<span>Difícil</span>
								</label>
							</p>
						</div>

						<div class="mb10">
							<strong>Tipo de cocina</strong>
							<p>
								<label> <input type="checkbox" name="cuisine"
									value="Española"
									th:checked="${cuisine} ? ${#arrays.contains(cuisine, 'Española')} : 'false'" />
									<span>Española</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="cuisine"
									value="Italiana"
									th:checked="${cuisine} ? ${#arrays.contains(cuisine, 'Italiana')} : 'false'" />
									<span>Italiana</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="cuisine"
									value="Griega"
									th:checked="${cuisine} ? ${#arrays.contains(cuisine, 'Griega')} : 'false'" />
									<span>Griega</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="cuisine"
									value="Mejicana"
									th:checked="${cuisine} ? ${#arrays.contains(cuisine, 'Mejicana')} : 'false'" />
									<span>Mejicana</span>
								</label>
							</p>
						</div>

						<div class="mb10">
							<strong>Dieta</strong>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Bajo en carbohidratos"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Bajo en carbohidratos')} : 'false'" />
									<span>Bajo en carbohidratos</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Bajo en sodio"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Bajo en sodio')} : 'false'" />
									<span>Bajo en sodio</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Mucha fibra"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Mucha fibra')} : 'false'" />
									<span>Mucha fibra</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Alto valor protéico"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Alto valor protéico')} : 'false'" />
									<span>Alto valor protéico</span>
								</label>
							</p>

							<p>
								<label> <input type="checkbox" name="tag"
									value="Bajo en grasas"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Bajo en grasas')} : 'false'" />
									<span>Poca grasa</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Equilibrada"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Equilibrada')} : 'false'" />
									<span>Equilibrada</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Vegetariano"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Vegetariano')} : 'false'" />
									<span>Vegetariano</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag" value="Paleo"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Paleo')} : 'false'" />
									<span>Paleo</span>
								</label>
							</p>

						</div>

						<div class="mb10">
							<strong>Alérgenos</strong>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin glutén"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin glutén')} : 'false'" />
									<span>Sin gluten</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin huevo"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin huevo')} : 'false'" />
									<span>Sin huevo</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin lácteos"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin lácteos')} : 'false'" />
									<span>Sin lácteos</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin azucar"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin azucar')} : 'false'" />
									<span>Sin azúcar</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin soja"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin soja')} : 'false'" />
									<span>Sin soja</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin frutos secos"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin frutos secos')} : 'false'" />
									<span>Sin frutos secos</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Libre de nueces y de cacahuetes"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Libre de nueces y de cacahuetes')} : 'false'" />
									<span>Libre de nueces y de cacahuetes</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin pescado"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin pescado')} : 'false'" />
									<span>Sin pescado</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="tag"
									value="Sin mariscos"
									th:checked="${tag} ? ${#arrays.contains(tag, 'Sin mariscos')} : 'false'" />
									<span>Sin mariscos</span>
								</label>
							</p>


							<button class="mt20 waves-effect waves-light red btn"
								type="submit">
								<i class="material-icons left">search</i>Filtrar
							</button>
						</div>
						</form>

					</div>
				</div>

			</div>

			<div class="col s12 m8 l9">
				<div class="row">
					<div th:each="receta: ${recipes}" class="col s12 m4">
						<div th:replace="fragments/receta_card.html"></div>
					</div>
				</div>

			</div>

		</div>


	</div>

	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>