<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav"></nav>

	<div class="pr50 pl50 mt30 mb30">
		<form th:action="@{/receta/nueva}" onSubmit="nuevaReceta()"
			method="POST">
			<div class="row">

				<div class="col s12 l3">

					<div class="card">
						<div class="card-content">
							<div class="card-title">Valores nutricionales</div>

							<p>
								Se debe introducir la <strong>cantidad seguida de la
									unidad utilizada</strong>. Se recomienda utilizar las <strong>unidades
									recomendadas</strong>.
							</p>

							<!-- Switch -->
							<div class="switch mt20 mb20">
								<label> Incluir valores nutricionales <input checked type="checkbox" id="switch-nutricionales"> <span
									class="lever"></span>
								</label>
							</div>

							<ul class="collection valores-nutricionales">
								<li class="collection-item"><strong>Grasa:</strong>
									<div class="input-field inline n-margin">
										<input id="grasa" name="nutriente" type="number"
											class="validate"> <label for="grasa">Cantidad
											de grasa (g)</label>
									</div></li>
								<li class="collection-item"><strong>Colesterol:</strong>
									<div class="input-field inline n-margin">
										<input id="colesterol" name="nutriente" type="number"
											class="validate"> <label for="colesterol">Cantidad
											de colesterol (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Sodio:</strong>
									<div class="input-field inline n-margin">
										<input id="sodio" name="nutriente" type="number"
											class="validate"> <label for="sodio">Cantidad
											de sodio (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Potasio:</strong>
									<div class="input-field inline n-margin">
										<input id="potasio" name="nutriente" type="number"
											class="validate"> <label for="potasio">Cantidad
											de potasio (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Carbohidratos:</strong>
									<div class="input-field inline n-margin">
										<input id="carbohidratos" name="nutriente" type="number"
											class="validate"> <label for="carbohidratos">Cantidad
											de carbohidratos (g)</label>
									</div></li>
								<li class="collection-item"><strong>Fibra:</strong>
									<div class="input-field inline n-margin">
										<input id="fibra" name="nutriente" type="number"
											class="validate"> <label for="fibra">Cantidad
											de fibra (g)</label>
									</div></li>
								<li class="collection-item"><strong>Calcio:</strong>
									<div class="input-field inline n-margin">
										<input id="calcio" name="nutriente" type="number"
											class="validate"> <label for="calcio">Cantidad
											de calcio (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Hierro:</strong>
									<div class="input-field inline n-margin">
										<input id="hierro" name="nutriente" type="number"
											class="validate"> <label for="hierro">Cantidad
											de hierro (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Vitamina B6:</strong>
									<div class="input-field inline n-margin">
										<input id="vitaminab6" name="nutriente" type="number"
											class="validate"> <label for="vitaminab6">Cantidad
											de vitamina B6 (mg)</label>
									</div></li>
								<li class="collection-item"><strong>Magnesio:</strong>
									<div class="input-field inline n-margin">
										<input id="magnesio" name="nutriente" type="number"
											class="validate"> <label for="magnesio">Cantidad
											de magnesio (mg)</label>
									</div></li>

							</ul>
						</div>

					</div>

				</div>

				<div class="col s12 l9">
					<div class="card">

						<div class="card-content">
							<div class="row">
								<div class="col s12">

									<h4>Crea tu propia receta</h4>

									<div class="col s12">
										<div class="row">
											<div class="input-field col s6">
												<input placeholder="Pon un título a tu receta"
													id="nombre_receta" name="nombre_receta" type="text"
													class="validate" required> <label for="first_name">Nombre
													de la receta</label>
											</div>

											<div class="file-field input-field col s6">
												<div class="btn red">
													<span>Imagen</span> <input onChange="loadImgNueva()"
														type="file" id="nueva-receta-file">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text"
														placeholder="JPEG, PNG & GIF son permitidos" required>
												</div>

												<img height="150" src="" id="nueva-receta-img">
											</div>
										</div>


										<div class="row">
											<div class="input-field col s12 m6">
												<ul class="collection items-nueva">
													<li class="collection-item">
														<div>
															<strong>Cocina: </strong>
															<div class="input-field inline n-margin">
																<input id="cocina" name="cocina" type="text"
																	class="validate" required> <label for="cocina">Tipo
																	de cocina</label>
															</div>
															<i class="secondary-content material-icons">restaurant</i>
														</div>
													</li>
													<li class="collection-item">
														<div>
															<strong>Dificultad: </strong>
															<div class="input-field inline n-margin">
																<select name="dificultad" required>
																	<option value="" disabled selected>Elige la
																		dificultad</option>
																	<option value="Fácil">Fácil</option>
																	<option value="Medio">Medio</option>
																	<option value="Difícil">Difícil</option>
																</select>
															</div>
															<i class="secondary-content material-icons">thumb_up</i>
														</div>
													</li>
													<li class="collection-item">
														<div id="duracion">
															<strong>Duración: </strong>
															<div class="input-field inline n-margin">
															<div class="col s6">
																<input id="duracion-horas" type="number"
																	class="validate" required> <label
																	for="duracion-horas">Horas</label></div>
																	<div class="col s6">
																<input id="duracion-minutos" type="number"
																	class="validate" required> <label
																	for="duracion-minutos">Minutos</label></div>
															</div>
															<i class="secondary-content material-icons">timer</i>
														</div>
													</li>

												</ul>
											</div>

											<div class="input-field col s12 m6">
												<ul class="collection items-nueva">
													<li class="collection-item">
														<div>
															<strong>Raciones: </strong>
															<div class="input-field inline n-margin">
																<input id="raciones" name="raciones" type="number"
																	class="validate" required> <label
																	for="raciones">Raciones</label>
															</div>
															<i class="secondary-content material-icons">people</i>
														</div>
													</li>

													<li class="collection-item">
														<div>
															<strong>Calorías: </strong>
															<div class="input-field inline n-margin">
																<input id="calorias" name="calorias" type="number"
																	class="validate" required> <label
																	for="calorias">Calorías de la receta (kcal)</label>
															</div>
															<i class="secondary-content material-icons">fastfood</i>
														</div>
													</li>

													<li class="collection-item">
														<div id="tags-receta-nueva">
															<strong>Tags: </strong> <small>Sin huevo, Libre
																de nueces y de cacahuetes, Sin frutos secos, Sin soja,
																Sin pescado, Sin mariscos, Bajo en carbohidratos,
																Vegetariano, Sin glutén, Equilibrada, Mucha fibra, Bajo
																en sodio ,Vegano, Sin lácteos, Paleo, Alto valor
																proteíco, Bajo en grasas</small>
															<div class="chips-tags-receta-nueva"></div>
															<i class="secondary-content material-icons">label</i>
														</div>
													</li>

												</ul>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col s12">
											<h5>
												Ingredientes <a
													class="btn-floating btn-small waves-effect waves-light red"
													onclick="addIngredient()"><i class="material-icons">add</i></a>
											</h5>
											<div class="col s12 m6">
												<ul id="firstIngredients" class="collection">
													<li id="ingredient_form_1" class="collection-item avatar">
														<i class="material-icons circle">restaurant_menu</i> <span
														class="title">
															<div class="input-field">
																<input placeholder="Nombre del ingrediente"
																	id="ingredient_1" name="ingrediente" type="text"
																	class="validate" required> <label
																	for="ingredient_1">Ingrediente</label>
															</div>
													</span>
														<div class="input-field">
															<input placeholder="Peso en gramos"
																id="ingredient_weight_1" name="pesoIngrediente"
																type="number" class="validate" required> <label
																for="ingredient_weight_1">Peso en gramos</label>
														</div> <a href="#!" onclick="removeIngredient(1)"
														class="tooltipped secondary-content"
														data-position="bottom" data-tooltip="Eliminar ingrediente"><i
															class="material-icons">delete</i></a>
													</li>
												</ul>
											</div>

											<div class="col s12 m6">
												<ul id="secondIngredients" class="collection">
													<li id="ingredient_form_2" class="collection-item avatar">
														<i class="material-icons circle">restaurant_menu</i> <span
														class="title">
															<div class="input-field">
																<input placeholder="Nombre del ingrediente"
																	id="ingredient_2" name="ingrediente" type="text"
																	class="validate" required> <label
																	for="ingredient_2">Ingrediente</label>
															</div>
													</span>
														<div class="input-field">
															<input placeholder="Peso en gramos"
																id="ingredient_weight_2" name="pesoIngrediente"
																type="number" class="validate" required> <label
																for="ingredient_weight_2">Peso en gramos</label>
														</div> <a href="#!" onclick="removeIngredient(2)"
														class="tooltipped secondary-content"
														data-position="bottom" data-tooltip="Eliminar ingrediente"><i
															class="material-icons">delete</i></a>
													</li>
												</ul>
											</div>
										</div>


									</div>

									<div class="row">
										<div class="col s12">

											<h5 class="left">
												Pasos <a onclick="addStep()"
													class="btn-floating btn-small waves-effect waves-light red"><i
													class="material-icons">add</i></a>
											</h5>

											<ul id="stepsForm" class="collection clear">
												<li id="step_form_1" class="collection-item avatar"><i
													class="material-icons circle">done</i>

													<div class="input-field col s12">
														<textarea id="step_1" name="paso"
															class="materialize-textarea validate" required></textarea>
														<label for="step_1">Paso #1</label>
													</div> <a href="#!" onclick="removeStep(1)"
													class="tooltipped secondary-content" data-position="bottom"
													data-tooltip="Eliminar paso"><i class="material-icons">delete</i></a>
												</li>
											</ul>
										</div>
									</div>

								</div>

								<button class="btn waves-effect btn-large waves-light red"
									type="submit" name="action">
									Enviar receta <i class="material-icons right">send</i>
								</button>


							</div>


						</div>

					</div>

				</div>
			</div>
		</form>

	</div>

	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>