<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head">
</head>
<body>
          <form name="f" th:action="@{/login/registration}" method="post">               
            <fieldset>
                <legend>Please Login</legend>
                
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>        
              
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>    
                
                <label for="username">email</label>
                <input type="text" id="email" name="email"/>        
              
                <label for="password">match Pasword</label>
                <input type="password" id="matchPassword" name="matchPassword"/>    
                
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </fieldset>
        </form>
      </body>
</html>